.ql-toolbar {
    &.ql-snow {
        border: 1px solid $color-transport-black-40 !important;

        & + .ql-container.ql-snow {
            border-top: 0 !important;
        }

        & .ql-formats {
            display: flex;
            justify-content: space-evenly;
            margin-right: 0 !important;
            margin-bottom: 10px;
        }
    }
}

.ql-container {
    &.ql-snow {
        border: 1px solid $color-transport-black-40 !important;
    }
}

.ql-horizontal {
    display: flex;
    overflow-x: auto;
    text-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 10px;
}

.ql-form-block {
    display: flex;
    margin-right: 15px;
}

.ql-ui {
    background-color: $color-pearl-white !important;
    color: $color-transport-black !important;
    border-radius: $radius-s;
}

.ql-snow {
    & .ql-fill {
        fill: $color-transport-black !important;
    }
    
    & .ql-stroke {
        stroke: $color-transport-black !important;
    }

    & .ql-picker {
        color: $color-transport-black !important;

        &-options {
            background-color: $color-pearl-white !important;
        }
    }    
}