// Colors

$color-pearl-white: var(--tg-theme-bg-color, #F4F4EA);
$color-transport-black: var(--tg-theme-text-color, #1F1E1F);
$color-grey-squirrel: var(--tg-theme-hint-color, #707579);
$color-green-seduction: var(--tg-theme-button-color, #41ad38);
$color-sparkling-red: #ec3131;

$color-transport-black-40: rgba(0, 0, 0, 0.40);

// Typography

$ff-arial: "Arial", sans-serif;
$fw-title: 700;
$fs-h1: 20px;
$fs-h2: 16px;
$fs-p: 12px;

// Radius

$radius-l: 16px;
$radius-m: 12px;
$radius-s: 10px;